@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {font-family:'Roboto' sans-serif;
      font-size:12px ;
      font-weight: normal;
      background: rgb(235, 234, 227);
      color: rgb(77, 76, 76);}



      /*весь сайт*/
.container {margin: auto;
      max-width: 900px;
      padding-top: 30px;}
      /*весь сайт*/

      @media (max-width: 650px){
            .cla1 {display: block;
            text-align: center;}}

      /* аватарка */
.ava {width: 200px;
      border-radius: 28px;
      box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
      float: left;margin: 4px 10px 2px 0px;}      
      /* аватарка */ 


      /* верхняя часть */
.cla1 p {font-style: italic;
      font-weight: bold;
      color: #86898f;
      margin-bottom: 20px;
      margin: 10px;}
      /* верхняя часть */

      
      /* соц сети */
.cla2 {margin-bottom: 20px;
      padding: 7px;} 
.cla2 a {color: rgb(2, 2, 2);
      text-decoration:none ;
      margin-left: 10px}
a:hover {color:crimson;
      font-size: 15px;
      transition: all .2s;
      margin-left: 10px;}    
      /* соц сети */


      /* список с хоби */
.cla3 {border-style: solid ; 
      border-width:2px ;
      border-color: aqua;
      border-radius: 20px;
      padding-left: 10px;
      background: aqua;
      margin-bottom: 10px;
      padding: 10px 20px;
      color: rgb(0, 0, 0);}
.cla3 li{color: rgb(80, 80, 80);
      margin-bottom: 9px;}
      /* список с хоби */


      /* список с опытом */
.cla4 {border-style: solid;
      border-width:0px;
      border-color: chartreuse;
      border-radius: 20px;
      background: chartreuse ;
      margin-bottom: 10px; 
      padding: 15px 20px}
.cla4 th {color: #000000;
      padding: 5px;} 
.cla4 td {color: #474747;
      padding-left: 10px;}
.cla4 h2 {color: #000000;}
.cla4 td:nth-child(2), 
.cla4 td:nth-child(3){color: rgb(112, 111, 111);}  
.cla4 td:nth-child(1){color: #000000; padding-left: 30px;}
      /* список с опытом */


      @media (max-width: 650px){
            .cla5 {display: block;
            text-align: center;}}


      /*  связь со мной */
.cla5 label {display: block;
      font-size: 15px;
      color: #535353;}
.cla5 input,
.cla5 textarea {width: 100%;
      box-sizing: border-box;
      border: none;
      background:transparent;
      border-bottom: 1px solid #ccc;
      color: #000;
      padding: 15px 0 10px;
      outline: none;
      font-family: inherit;}
      /*  связь со мной */ 


      /* кнопка отправить*/
.btn  {background: #000000;
      padding: 15px 20px;
      color: #fff;
      border: none;
      font-family: inherit;
      cursor: pointer;}
.btn:hover {opacity: 0.8;}
      /* кнопка отправить*/

